<% if (typeof(error) != "undefined") { %>
<h3><%=error%></h3>
<% } %>

<form id="login-form">
<label for="username">Username</label><input type="text" name="username"><br />
<label for="password">Password</label><input type="password" name="password"><br />
<button type="submit" id="login-button">Login!</button>
<br />
<a href="#" id="i-want-to-register">Register</a>
</form>

<!-- <table>
		<tr>
			<td><label for="username">Username</label></td>
			<td><input type="text" name="username"></td>
		</tr>
		<tr>
			<td><label for="password">Password</label></td>
			<td><input type="password" name="password"></td>
		</tr>
		<tr>
			<td><button type="submit" id="login-button">Login!</button></td>
		</tr>
		<tr>
			<td><a href="#" id="i-want-to-register">Register</a></td>
		</tr>
		
		
		
	</table> -->