body {
	margin: 0;
	padding: 0;
}
tbody {
	top:50px;
	left:50px;
	position: absolute;
}
td {
	background-color: #525252;
	width: 50px;
	height: 50px;
	padding: 0;
}

td.white {
	background-color: #BABABA;
}

.piece {
	position:absolute;
	/*position:absolute;*/
	width:54px;
}


#board-div {
	float: left;
	margin-left: 10em;
}

#interaction-window {
	float: right;
	margin-top: 20px;
	margin-right: 20px;
	width: 600px;
}

td.highlight {
	background-color: cyan;
}

#chat-history {
	margin-top: 2em;
	overflow-y: scroll;
	height: 400px;
}