body {
	margin: 0;
	padding: 0;
	background-color: #CCCCCC;
}
tbody {
	top:50px;
	left:50px;
	position: absolute;
}
td {
	background-color: #525252;
	width: 50px;
	height: 50px;
	padding: 0;
	margin: 1px;
}

td.white {
	background-color: #BABABA;
}

.piece {
	position:absolute;
	/*position:absolute;*/
	width:52px;
}


#board-div {
	float: left;
	/*margin-left: 1em;*/
	margin-top: 1px;
	position:relative;
	width:500px;
}

#interaction-window {
	float: left;
	margin-top: 55px;
	margin-right: 20px;
	width: 300px;
}

td.highlight {
	background-color: cyan;
}

#chat-history {
	margin-top: 2em;
	overflow-y: scroll;
	height: 280px;
}

#currentColor {
	/*position: relative;*/
	/*float: right;*/
	margin-right: 20px;
	margin-top: 30px;
	/*width: 600px;*/
}

#container {
	margin: 50px;
	margin-top: 5px;
	margin: 0 auto;
	background-color: white;
	height: 40em;
	width: 68em;
}

#header {
	font: helvetica;
	font-size: 20pt;
	text-align: center;
	margin-top: 15px;
	padding: 10px;
	/*position: absolute;*/
	background-color: white;
	border-bottom: 1px solid black; 
}

label {
	padding: 5px;
}

.logo {
	width: 25px;
	height: 50px;
}

/*#interaction-window img {
	position: relative;
	left: -25%;
}*/